<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('预约挂号列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <label>商户ID：</label>
                                <input type="text" name="appId"/>
                            </li>
                            <li>
                                <label>用户名：</label>
                                <input type="text" name="synUserName"/>
                            </li>
                            <li>
                                <label>效验码：</label>
                                <input type="text" name="synKey"/>
                            </li>
                            <li>
                                <label>医生编号：</label>
                                <input type="text" name="organdoctorId"/>
                            </li>
                            <li>
                                <label>患者身份证号：</label>
                                <input type="text" name="cardNo"/>
                            </li>
                            <li>
                                <label>患者编号：</label>
                                <input type="text" name="patientNo"/>
                            </li>
                            <li>
                                <label>社保号：</label>
                                <input type="text" name="socialsecurityNO"/>
                            </li>
                            <li class="select-time">
                                <label>取号日期：</label>
                                <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginSourceDate]"/>
                                <span>-</span>
                                <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endSourceDate]"/>
                            </li>
                            <li>
                                <label>时间段标识：</label>
                                <input type="text" name="timestypeNo"/>
                            </li>
                            <li>
                                <label>时间段标识：</label>
                                <select name="sourceTimeType" th:with="type=${@dict.getType('his_source_time_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>支付方式：</label>
                                <select name="payType" th:with="type=${@dict.getType('his_pay_type')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>支付流水号：</label>
                                <input type="text" name="payNo"/>
                            </li>
                            <li>
                                <label>已支金额：</label>
                                <input type="text" name="payAmount"/>
                            </li>
                            <li>
                                <label>支付状态：</label>
                                <select name="successfulPayment" th:with="type=${@dict.getType('his_payment_state')}">
                                    <option value="">所有</option>
                                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                                </select>
                            </li>
                            <li>
                                <label>商户订单号：</label>
                                <input type="text" name="outTradeNo"/>
                            </li>
                            <li>
                                <label>微信订单号：</label>
                                <input type="text" name="transactionId"/>
                            </li>
                            <li>
                                <label>科室id：</label>
                                <input type="text" name="departmentorganId"/>
                            </li>
                            <li>
                                <label>返回信息：</label>
                                <input type="text" name="resultMsg"/>
                            </li>
                            <li>
                                <label>号源编号：</label>
                                <input type="text" name="sourceMark"/>
                            </li>
                            <li>
                                <label>医院就医码：</label>
                                <input type="text" name="medicalCode"/>
                            </li>
                            <li>
                                <label>挂号费：</label>
                                <input type="text" name="consultationFee"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="his:doreg:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="his:doreg:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="his:doreg:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="his:doreg:export">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('his:doreg:edit')}]];
        var removeFlag = [[${@permission.hasPermi('his:doreg:remove')}]];
        var sourceTimeTypeDatas = [[${@dict.getType('his_source_time_type')}]];
        var payTypeDatas = [[${@dict.getType('his_pay_type')}]];
        var successfulPaymentDatas = [[${@dict.getType('his_payment_state')}]];
        var prefix = ctx + "his/doreg";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "预约挂号",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'id',
                    title: 'null',
                    visible: false
                },
                {
                    field: 'appId',
                    title: '商户ID'
                },
                {
                    field: 'synUserName',
                    title: '用户名'
                },
                {
                    field: 'synKey',
                    title: '效验码'
                },
                {
                    field: 'organdoctorId',
                    title: '医生编号'
                },
                {
                    field: 'cardNo',
                    title: '患者身份证号'
                },
                {
                    field: 'patientNo',
                    title: '患者编号'
                },
                {
                    field: 'socialsecurityNO',
                    title: '社保号'
                },
                {
                    field: 'sourceDate',
                    title: '取号日期'
                },
                {
                    field: 'timestypeNo',
                    title: '时间段标识'
                },
                {
                    field: 'sourceTimeType',
                    title: '时间段标识',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(sourceTimeTypeDatas, value);
                    }
                },
                {
                    field: 'payType',
                    title: '支付方式',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(payTypeDatas, value);
                    }
                },
                {
                    field: 'payNo',
                    title: '支付流水号'
                },
                {
                    field: 'payAmount',
                    title: '已支金额'
                },
                {
                    field: 'successfulPayment',
                    title: '支付状态',
                    formatter: function(value, row, index) {
                       return $.table.selectDictLabel(successfulPaymentDatas, value);
                    }
                },
                {
                    field: 'outTradeNo',
                    title: '商户订单号'
                },
                {
                    field: 'transactionId',
                    title: '微信订单号'
                },
                {
                    field: 'departmentorganId',
                    title: '科室id'
                },
                {
                    field: 'resultMsg',
                    title: '返回信息'
                },
                {
                    field: 'sourceMark',
                    title: '号源编号'
                },
                {
                    field: 'medicalCode',
                    title: '医院就医码'
                },
                {
                    field: 'consultationFee',
                    title: '挂号费'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>